body {
    margin: 0;
    width: 100%;
    place-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.btnLink{
    text-decoration: unset;
}
.btnLink:hover{
    color: unset;
    color: #fff;
}